/*adjust nav bar width and put extra contents here if you want */
nav {
    height: 20px;
    /*padding-bottom: 20px;*/

}

/*add background image or color*/
main {
    /*background-image: url("butterfly-2049567_640.jpg");*/
    background-color: lightblue;
    height: 1000px;
    background-position: center;
    background-size: cover;
    padding-top: 100px;
}

jumbotron {
    padding: 2rem 4rem;
}